/* 
font-family: 'Playfair Display', serif; */
/*----------
Variable Styling
----------*/
:root {
  --main-color: #141c34;
  --secondary-color: #007991;
  --neutral-grey: #e1e1e1;
}

html {
  scroll-behavior: smooth;

  /* add scroll padding to stop section heading sitting behind the navbar */
  scroll-padding-top: 85px;
}

/*----------
General Styling
----------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*----------
Navbar
----------*/
.navbar a.navbar-brand {
  font-family: "Playfair Display", serif;
  color: var(--main-color);
  font-size: 45px;
}

a.nav-link {
  color: var(--main-color);
  font-weight: 700;
  margin-left: 1.5rem;
}

a.nav-link:hover {
  color: var(--secondary-color);
}

.navbar-toggler {
  border-color: var(--main-color);
}

/*----------
Hero Section
----------*/
section.hero {
  height: 100vh;
  padding-top: 85px;
}

.socials {
  margin-left: -22px;
}

.socials a {
  color: var(--main-color);
  font-size: 25px;
}
.socials a:hover {
  color: var(--secondary-color);
}

section.hero h1 {
  font-size: 80px;
  color: var(--main-color);
}

section.hero .sub-heading {
  font-size: 20px;
  font-weight: 900;
}

section.hero figure img {
  height: 310px;
  width: auto;
}

/*----------
About Section
----------*/

/*----------
Work Section
----------*/

/*----------
Contact Section
----------*/

/*----------
Footer
----------*/
